@import './variables';

//background image
.single_page_app {
    background-image: url('../assets/chatbg.svg');
    background-position: center center;
    background-size: 300px;
    width: 100%;
}

.chat_sect {
    //center function
    @include centerDiv;

    //chat main css
    .main {
        border-radius: 5px;
        background-color: $background;
        box-shadow: $shadow;
        height: auto;
        width: 50%;
        @include fadeIn;

        //media queries
        @media (max-width: $breakpoint-tablet) {
            width: 90%;
        }

        ;

        .chat_header {
            display: flex;
            background-color: $mainColor;
            color: white;
            padding: 0px 10px;

            h3 {
                margin: 15px 5px;
                text-transform: uppercase;

                //media queries
                @media (max-width: $breakpoint-mobile) {
                    font-size: 15px;
                }

                ;
            }

            .logo {
                margin-top: 7px;
            }

        }

        //custom input css
        input {
            padding: 10px;
            outline: none;
            border-radius: 5px;
            width: 80% !important;
            border: none;
            font-size: 15px;
            color: rgba(49, 13, 13, 0.753);

            &:focus {
                border: 1px solid $mainColor;
            }
        }

        //chat footer starts
        .chat_footer {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 10px;

            input {
                flex: 5;
            }

            button {
                background-color: transparent;
                border: none;

                &:focus {
                    border: none;
                    outline: none;
                }

                svg {
                    color: $mainColor
                }
            }
        }

    }
}

//main messages css starts
.messages {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 10px;
    margin-top: 10px;

    @media (max-width: $breakpoint-mobile) {
        font-size: 15px;
        height: 500px;

    }

    .time {
        margin: 0;
        font-size: 10px;
    }

    .name {
        font-size: 13px;
        color: rgb(37, 32, 32);
        margin: 0px 5px;
        font-weight: 400;
    }

    //css for incoming msg
    .incoming {
        text-align: left;
        margin-right: auto;
        margin-left: 10px;

        .content {
            margin: 0;
            width: 330px;
            background-color: $incomin;
            border-radius: 2px 10px 2px 10px;
            padding: 5px 8px;

            @media (max-width: $breakpoint-tablet) {
                width: 200px;
            }

            ;
        }
    }

    //css for outcoming msg
    .outcoming {
        text-align: right;
        margin-left: auto;
        margin-right: 10px;

        .content {
            width: 330px;
            margin-top: 0;
            margin-left: auto;
            background-color: $goin;
            border-radius: 10px 2px 10px 2px;
            padding: 5px 8px;
            text-align: left;
            margin-bottom: 0;
            overflow: hidden;

            @media (max-width: $breakpoint-tablet) {
                width: 200px;
            }

            ;
        }

    }
}